fastapi==0.115.6
uvicorn==0.27.0
websockets
textblob==0.18.0.post0
numpy<2.0
scipy==1.13.1
soundfile==0.12.1
funasr==1.1.12
modelscope==1.16.0
onnxruntime==1.18.0
torch==2.3.1
torchaudio==2.3.1
transformers==4.42.3
h5py==3.11.0
tqdm==4.66.4
python-multipart==0.0.9
jinja2==3.1.4
aiofiles==23.2.1
requests==2.32.3
regex
typing-extensions
click
colorama
optimum[onnxruntime]==1.20.0
onnx
